*{margin:0; padding:0; box-sizing: border-box;}
ul,li{list-style: none;}
a{text-decoration: none;}
a:hover{cursor:pointer;}
a:focus{border: 2px solid rgba(255,0,0,0.1);}
body{
  width:100%; height:100%;
}


/* 배너 */
#top_banner_wrapper{
  background-color: black;
  width:100%; height:80px;
  /* margin:0 auto; */
}
#top_banner{
  width:980px; height:80px;
  margin:0 auto;
  position:relative;
}
#top_banner_wrapper span{
  position:absolute; right:0; 
  line-height:80px;
  color:white;
  font-size:30px;
}
#top_banner:hover{cursor:pointer;}

/* 헤더 */
/* 헤더-상단 */
header{
  width:100%;
  background-color: #000;
  /* z-index:10; */ /* gnb _wrap nav 나눠서 줘야하는 이유?*/
}
#gnb_wrap{
  width:980px; height:70px;
  position:relative;
  margin:0 auto;
  z-index:10;
}
#logo{
  width:220px; height:39px; 
  position:absolute;
  top:50%; left:50%;
  transform:translate(-50%,-50%);
}
#logo a{
  display: inline-block;
  width:220px; height:39px; 
}
#logo img{width:100%;}

#gnb{
  width:100%; height:100%;
  border-bottom:1px solid #ccca;
  display:flex;
  justify-content: space-between;
  align-items: end;
}
#gnb ul#gnb_sns{
  display:flex;
}
#gnb ul li{
  padding: 5px;
}
#gnb ul li i{
  padding-right:5px;
}
#gnb ul li a{
  font-size:12px;
  color:#ccca; font-weight: bold;
  cursor:pointer;
}

/* 헤더-상단 아래줄 */
#nav{
  width:980px;
  position:relative;
  margin:0 auto;
  z-index:10; 
}#nav ul li a{color:#fff;}
#nav ul#m_menu{
  width:100%;
  display:flex; 
  justify-content: center;
}
#nav ul#m_menu>li>a{
  display:inline-block;
  height:40px; line-height:40px;
  padding: 10px 20px;
  font-size:13px;
  font-weight: bold;
}
#nav ul#m_menu>li:not(:last-child)::after{
  content:""; display:inline-block; 
  width:1px; height:10px; background-color: grey;
}

#nav ul#m_menu .drop{
  position:absolute; left:0; top:50px; 
  display:none;
  background-color: rgba(0,0,0,0.7);
  width:100%;
  justify-content: center;
  z-index:10;
}
#nav ul#m_menu>li:hover {
  /* border-bottom:4px solid red;  */
  /*border 주면 main 움직임. 드롭다운 top 조절*/
}
#nav ul#m_menu>li:hover .drop{
  display:flex;
}
#nav ul#m_menu .drop>li>a{
  display:inline-block;
  height:35px; line-height:35px;
  padding: 0 20px;
  font-size:12px;
  color:#ccc; opacity:0.7;
} 

#nav ul#r_menu{
  position:absolute; top:0; right:0;
  width:250px;
  display:flex;
  justify-content: flex-end;
}
#nav ul#r_menu li{
  padding-left:20px;
  height:40px;
}
#nav ul#r_menu li i{
  padding-right:5px;
}
#nav ul#r_menu li a{
  display: inline-block;
  font-size:12px;
  height:100%; line-height:50px;
}





/* 광고 */
#bottom_banner_wrapper{
  width:100%;
  margin:30px 0;
}#bottom_banner{
  width:980px;
  margin:0 auto;
  cursor: pointer;
}
#bottom_banner img{
  width:100%; /*양옆...*/
}

/* 푸터 */
footer{
  width:100%;
}
#footer_wrap{
  width:980px;
  margin:0 auto;
  margin-bottom: 30px;
}
footer img{
  width:220px;
}
footer ul{
  display:flex; 
}
footer ul li a{
  display:inline-block;
  padding:0 10px;
  border-right:1px solid lightgrey;
  color:grey;
  font-size:12px;
}
footer ul li:last-child a{
  border-right:none;
}
