* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
}
section#top_des {
  width: 980px;
  margin: 0 auto;
}

#des_box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}
#des_box .poster {
  width: 316px;
  height: 451px;
  border-radius: 10px;
  overflow: hidden;
}
#des_box .poster img {
  width: 100%;
}
#des_box .des_detail {
  flex: 0 0 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.des_detail h3 {
  font-size: 25px;
}
.des_detail .info {
  display: flex;
  font-size: 18px;
  font-weight: bold;
}
.des_detail .info li {
  padding: 10px 0;
  padding-right: 10px;
}
.des_detail .info li:not(:last-child)::after {
  content: "";
  display: inline-block;
  margin-left: 10px;
  width: 1px;
  height: 10px;
  background-color: #777;
}

.des_detail .des_btn {
  display: flex;
}
.des_detail .des_btn li {
  border: 1px solid #333;
  border-radius: 30px;
  padding: 10px;
  margin: 20px 10px 20px 0;
}
.des_detail .short {
  font-weight: bold;
  height: 110px;
  overflow-y: scroll;
  margin: 20px 0;
}
.des_detail button.ticket {
  width: 60%;
  height: 50px;
  background-color: red;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 30px;
}

/*탭메뉴*/
section#bottom_des {
  width: 980px;
  margin: 0 auto;
}
.tab_menu {
  width: 100%;
}
.tab_menu .tab_list {
  display: flex;
}
.tab_menu .tab_list li {
  flex: 0 0 50%;
}
.tab_menu .tab_list li a {
  display: block;
  text-align: center;
  padding: 20px;
  width: 100%;
  color: #aaa;
  border-bottom: 1px solid #aaa;
}
.tab_menu .tab_list li.is_on a {
  color: black;
  border-bottom: 1px solid black;
}

.cont_area {
  width: 100%;
}
.cont {
  display: none;
}

#tab1 {
  width: 100%;
}
#tab1 .info2 {
  background-color: #eee;
  padding: 30px 20px;
}
#tab1 .info2 h3 {
  padding: 10px 0;
  font-size: 23px;
}
#tab1 .info2 ul li {
  margin: 10px 20px;
  list-style: disc;
  font-size: 20px;
}
#tab1 .info2 ul li span:first-child {
  padding-right: 10px;
  color: #777;
}

.info3 {
  width: 100%;
}
.trailer_slide_box_wrap {
  width: 100%;
  display: flex;
}
.trailer_slide_box {
  width: 300px;
  margin: 10px;
  position: relative;
}
.trailer_slide_box img {
  width: 100%;
  border-radius: 10px;
}
.trailer_slide_box .playbttn {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  opacity: 0.7;
  transform: translate(-50%, -50%);
  font-size: 70px;
}
.trailer_slide_box p {
  position: absolute;
}
.teaser_wrap {
  display: none;
}

.photo_wrap img {
  width: 30%;
  margin: 5px;
}

/*tab2*/
#tab2 {
  width: 100%;
}
.review {
  width: 100%;
  background-color: #eee;
  padding: 30px;
  text-align: center;
}

.star {
  display: flex;
  justify-content: center;
}
.star i {
  font-size: 50px;
  cursor: pointer;
}

.review_write {
  width: 90%;
  margin: 20px auto;
}
form {
  width: 100%;
  height: 80px;
  display: flex;
}
.review_write textarea {
  flex: 0 0 90%;
}
.review_write button {
  flex: 0 0 10%;
}

.review_list {
  width: 100%;
  border-top: 1px solid #aaa;
  margin-top: 30px;
}
.review_list ul li {
  border-bottom: 1px solid #ddd;
  display: flex;
  padding: 20px;
}
.my_star {
  flex: 0 0 8%;
  padding-right: 20px;
}
.my_star img {
  width: 100%;
}
.my_review {
  flex: 0 0 90%;
}
.review_list ul li p:last-of-type {
  flex: 0 0 2%;
}
